:root{
  --gold: #ffc406;
  --night-background1: #111827;
  --night-background2: #1c2332;
  --night-background3:#23232d;
  --night-background4: rgb(94, 94, 99);
  --night-background5:#8c8cae;


  --font-light: white;
  --font-grey: #8c8cae;

  font-family: 'Poppins', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/*Page Layout*/
body{
  height: 100vh;

  background-color: var(--night-background1);
  padding: 2em;
  color: var(--font-light);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  height: 100%;
  min-height: 0;
}

section{
  
}

section.left{
  background-color: var(--night-background3);
  flex: 0;
  min-width: 300px;
  width: 300px;
  
  /*Left section static while right section scrolls*/
  overflow: hidden;
  position: static;
}

section.right{
  flex:3;
  min-width: 600px;
  max-width: 1200px;
  background-color: var(--night-background2);
}

/*Gold fonts*/
.gold{
  color: var(--gold);
}

.grey-font{
  color: #8c8cae;
}

/*Section Left*/
.info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  height: 100%;
}

.info-container>div{
  padding: 20px;
}

.info-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  gap: 10px;

  flex: 1.5;

  background-color: #23232d;
}

.info-profile>p{
  color: var(--night-background5);
}

/*Circle profile pic*/
.profile-pic{
  width: 120px;
  height: 120px;
  border-radius: 50%;

  background-image: url(./img/pfp.jpeg);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.info-body{
  background-color: #1d1d26;
  width: 100%;
  flex: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info-body>span{
  color: #8c8cae;
  justify-self: flex-end;
}

.info-container>.divider{
  justify-self: center;
  background-color: #8c8cae;
  width: 90%;
  padding: 0px;
  padding-top: 1px;
  margin-left: 5%;
}

.info-hobbies{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 25%;
  
  width: 100%;
  color: #ffc406;
  background-color: #1d1d26;
}

.hobbies-container{
  display: flex;
  gap: 20px;
}
.hobby{
  width: 75px;
  height: 75px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.rock-climbing{
  background-image: url(./img/rock-climbing.png);
}

.chess{
  background-image: url(./img/chess.png);
}

.web-dev{
  background-image: url(./img/web-dev.png);
}

.info-socials{
  flex: 0;

  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socials-icon{
  width: 40px;
  height: 40px;

  filter: invert(67%) sepia(73%) saturate(562%) hue-rotate(357deg) brightness(104%) contrast(101%);
}


/*Right section*/

section.right{

  /*Allows right section to scroll while hiding it*/
  overflow: auto;
  scrollbar-width: none;
}

/*Hide scrollbar in chrome*/
section.right::-webkit-scrollbar{
  display: none;
}

main{
  display: grid;
  grid-template-rows: repeat(auto-fit, 300px);
  padding: 30px;
  row-gap: 10px;
}

.introduction{
  background-image: url(./img/intro-background.jpg);
  background-repeat: no-repeat;
  background-position: center top 35%;
  background-size: cover;
  width: 100%;
  height: 100%;

  filter: brightness(80%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 40px;
}


.technologies{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tech-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-top: 10px;
  height: 100%;
}

div.tech-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

img.tech-icon{
  width: auto;
  height: 70px;
}

.works{
  width: 100%;
}

.projects{
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

.project{
  width: 100%;
  height: 300px;

  padding: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-items: start;
  align-items: center;

  row-gap: 10px;
  column-gap: 30px;
}

.project-left{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 10px;
}

.odd{
  background-color: #23232d
}

.even{
  background-color: #111827;
}

a, a:hover, a:active, a:visited, a:focus{
  text-decoration: none;
}


.project-button{
  width: 140px;
  height: 45px;
  background-color: #ffc406;
  color: black;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.project-button2{
  width: 140px;
  height: 50px;
  background-color: #8c8cae;
  color: black;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.project-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.project-screenshot{
  width: auto;
  max-width: 100%;
  height: 260px;
  object-fit: contain;
}

footer{
padding: 0px;
margin-top: 20px;

width: 100%;
height: 300px;

background-color: #111827;

padding: 20px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;

gap: 20px;
}

.contacts{
  width: 100%;
}
.contacts>.info-socials{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

a{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: #ffc406;
}

